<section id="sidebar">
  <div class="inner">
    <nav>
      <ul>
        <li *ngFor="let item of navigationItems">
          <a
            [href]="item.link"
            routerLinkActive="active"
            [ngClass]="{ active: activeLink === item.link }"
            (click)="setActiveLink(item.link)"
            >{{ item.label }}</a
          >
        </li>
        <!--
        <li *ngFor="let item of navigationItems">
          <a
            href="{{ item.link }}"
            [ngClass]="{ active: activeLink === item.link }"
            (click)="setActiveLink(item.link)"
          >
            {{ item.label }}
          </a>
        </li>
         -->
      </ul>
    </nav>
  </div>
</section>
