<section id="contacto" class="wrapper style1 fade-up">
  <div class="inner">
    <div class="w-100 style1">
      <section>
        <ul class="contact d-flex flex-wrap gap-15 justify-content-between">
          <li>
            <h3>Contacto</h3>
            <span>
              <a href="mailto:info@terapic-centre.com"
                >info@terapic-centre.com</a
              >
            </span>
            <span itemprop="telephone">
              <a href="tel:+34664235651" rel="nofollow">664 235 651</a>
            </span>
          </li>
          <li>
            <h3>Dirección</h3>
            <address>
              <span
                >C/ Nou 59 bajos<br />
                Lloseta (Mallorca)</span
              >
            </address>
          </li>
          <li>
            <h3>Conecta con terapic</h3>
            <ul class="icons">
              <li>
                <a
                  target="_blank"
                  href="https://www.instagram.com/yolandadeleonfisio/"
                  aria-label="terapic centre Instagram"
                  class="icon brands fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <li class="contact">
                <a
                  target="_blank"
                  aria-label="terapic centre Facebook"
                  href="https://www.facebook.com/terapic.centre/"
                  class="icon brands fa-facebook-f"
                  ><span class="label">Facebook</span></a
                >
              </li>
            </ul>
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>
