<section id="intro" class="wrapper fade-up">
  <div class="toolbar gap-10 d-flex flex-wrap place-items-center justify-content-between">
    <div class="tlf gap-10 d-flex place-items-center">
      <i class="icon fab fa-whatsapp" aria-hidden="true"></i>
      <span itemprop="telephone"
        ><a href="tel:+34664235651" rel="nofollow">664 235 651</a></span
      >
    </div>
    <div class="social d-flex gap-10">
      <a
        target="_blank"
        href="https://www.instagram.com/yolandadeleonfisio/"
        aria-label="terapic centre Instagram"
        class="icon fab fa-instagram"
        ><span class="label">Terapic Instagram</span></a
      >
      <a
        target="_blank"
        href="https://www.facebook.com/terapic.centre/"
        aria-label="terapic centre Facebook"
        class="icon fab fa-facebook-f"
        ><span class="label">Terapic Facebook</span></a
      >
    </div>
  </div>

  <div class="inner">
    <h1 class="d-flex flex-column justify-content-center align-items-center">
      <img
        src="/assets/images/logoterapic2022.svg"
        fill
        priority
        [alt]="logoDescription"
        class="logo"
      />
    </h1>

    <ul class="actions"></ul>
  </div>
</section>
