<section id="intro" class="wrapper style1 fade-up">
  <div class="toolbar">
    <div class="tlf">
      <i class="icon brands fa-whatsapp" aria-hidden="true"></i>
      <span itemprop="telephone"
        ><a href="tel:+34664235651" rel="nofollow">664 235 651</a></span
      >
    </div>
    <div class="social">
      <a
        target="_blank"
        href="https://www.instagram.com/yolandadeleonfisio/"
        aria-label="terapic centre Instagram"
        class="icon brands fa-instagram"
        ><span class="label">Instagram</span></a
      >
      <a
        target="_blank"
        href="https://www.facebook.com/terapic.centre/"
        aria-label="terapic centre Facebook"
        class="icon brands fa-facebook-f"
        ><span class="label">Facebook</span></a
      >
    </div>
  </div>

  <div class="inner">
    <h1>
      <img ngSrc="logoUrl" fill priority [alt]="logoDescription" class="logo" />
    </h1>

    <ul class="actions"></ul>
  </div>
</section>
