/* You can add global styles to this file, and also import other style files */
@import "colors.scss";
@import "resets.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";

//General styles
.w-100 {
  width: 100% !important;
}
.h-100 {
  height: 100% !important;
}
.mw-100 {
  max-width: 100% !important;
}
.mh-100 {
  max-height: 100% !important;
}

.align-baseline {
  vertical-align: baseline !important;
}
.align-top {
  vertical-align: top !important;
}
.align-middle {
  vertical-align: middle !important;
}
.align-bottom {
  vertical-align: bottom !important;
}
.align-text-bottom {
  vertical-align: text-bottom !important;
}
.align-text-top {
  vertical-align: text-top !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.flex-row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}
.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.flex-row-reverse {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important;
}
.flex-column-reverse {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
}
.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}
.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}
.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
  flex-wrap: wrap-reverse !important;
}
.justify-content-start {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}
.justify-content-end {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}
.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}
.align-items-start {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}
.align-items-end {
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}
.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
.align-items-baseline {
  -webkit-box-align: baseline !important;
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}
.align-items-stretch {
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}
.align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important;
}
.align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important;
}
.align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
}
.align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important;
}
.align-content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important;
}
.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important;
}
.align-self-auto {
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
}
.align-self-start {
  -ms-flex-item-align: start !important;
  align-self: flex-start !important;
}
.align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}
.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}
.align-self-baseline {
  -ms-flex-item-align: baseline !important;
  align-self: baseline !important;
}
.align-self-stretch {
  -ms-flex-item-align: stretch !important;
  align-self: stretch !important;
}
.place-items-center {
  place-items: center;
}

.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}

a {
  transition: color 0.2s ease, border-bottom-color 0.2s ease;
  border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
  color: inherit;
  text-decoration: none;

  &:hover {
    border-bottom-color: transparent;
    //color: var(--greenTerapic);
    cursor: pointer;
  }
}

.pointer {
  cursor: pointer;
}

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;

  > .label {
    display: none;
  }

  &.major {
    width: 2.5em;
    height: 2.5em;
    display: block;
    background: #ffffff;
    border-radius: 100%;
    text-align: center;
    line-height: 2.5em;
    margin: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
  }

  img {
    margin: auto;
  }
}

img {
  overflow-clip-margin: content-box;
  aspect-ratio: attr(width) / attr(height);
  overflow: clip;
}

ol,
ul {
  list-style: none;
  margin: 0 0 2em 0;
  padding-left: 1em;

  &.actions {
    display: flex;
    cursor: default;
    padding-left: 0;

    li {
      &:first-child {
        padding-top: 0;
      }
      vertical-align: middle;
      flex-shrink: 1;
      padding: 1em 0 0 0;
      text-align: center;

      @media screen and (max-width: 480px) {
        width: 100%;
      }

      .button {
        border-color: whitesmoke;
        @media screen and (max-width: 480px) {
          width: 100%;
        }
      }
    }
  }
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  appearance: none;
  transition: border-color 0.2s ease;
  background-color: transparent;
  border: solid 1px;
  border-radius: 3em;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.6em;
  font-weight: bold;
  height: calc(4.75em + 2px);
  letter-spacing: 0.25em;
  line-height: 4.75em;
  outline: 0;
  padding: 0 3.75em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &:hover {
    border-color: rgba(255, 255, 255, 0.55);

    &:after {
      opacity: 0.05;
      transform: scale(1);
    }
  }

  &:after {
    transform: scale(0.25);
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
    background: #ffffff;
    border-radius: 3em;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

h2 {
  font-size: 1.75em;
  @media screen and (max-width: 736px) {
    font-size: 1.25em;
  }
}

h3 {
  font-size: 1.1em;
  margin: 0;
  @media screen and (max-width: 736px) {
    font-size: 1em;
  }
}
