<section id="tratamiento" class="style3 fade-up">
  <div class="wrapper">
    <h2>Áreas de tratamiento</h2>
    <div class="d-flex flex-wrap flex-row gap-15 areas">
      <section class="d-flex flex-row gap-15 flex-wrap align-items-center">
        <span class="icon solid major d-flex">
          <img
            src="/assets/images/iconos/musculoesqueletico.png"
            alt="icono musculoesqueletico"
            width="43"
            height="43"
          />
        </span>
        <h3>Alteraciones músculoesqueléticas</h3>
      </section>
      <section class="d-flex flex-row gap-15 flex-wrap align-items-center">
        <span class="icon solid major d-flex">
          <img
            src="/assets/images/iconos/baby.png"
            alt="icono baby"
            width="43"
            height="43"
          />
        </span>
        <h3>Fisioterapia y osteopatía pediátrica</h3>
      </section>
      <section class="d-flex flex-row gap-15 flex-wrap align-items-center">
        <span class="icon solid major d-flex">
          <img
            src="/assets/images/iconos/embarazo.png"
            alt="icono embarazo"
            width="43"
            height="43"
          />
        </span>
        <h3>Fisioterapia y osteopatía en el embarazo</h3>
      </section>
    </div>
    <ul class="actions">
      <li>
        <a class="button" (click)="routingService.navigateTo('tratamientos')"
          >Saber más
        </a>
      </li>
    </ul>
  </div>
</section>
