<section id="tratamiento" class="wrapper style3 fade-up">
  <div class="inner">
    <h2>Áreas de tratamiento</h2>
    <div class="row d-flex flex-row gap-15 areas">
      <section class="d-flex flex-row gap-15 flex-wrap align-items-center">
        <span class="icon solid major d-flex">
          <img
            src="images/iconos/musculoesqueletico.png"
            alt="icono musculoesqueletico"
            width="32"
            height="32"
          />
        </span>
        <h3>Alteraciones músculoesqueléticas</h3>
      </section>
      <section class="d-flex flex-row gap-15 flex-wrap align-items-center">
        <span class="icon solid major d-flex">
          <img
            src="images/iconos/baby.png"
            alt="icono baby"
            width="32"
            height="32"
          />
        </span>
        <h3>Fisioterapia y osteopatía pediátrica</h3>
      </section>
      <section class="d-flex flex-row gap-15 flex-wrap align-items-center">
        <span class="icon solid major d-flex">
          <img
            src="images/iconos/embarazo.png"
            alt="icono embarazo"
            width="32"
            height="32"
          />
        </span>
        <h3>Fisioterapia y osteopatía en el embarazo</h3>
      </section>
    </div>
    <ul class="actions">
      <li>
        <a class="button" (click)="routingService.navigateTo('tratamientos')"
          >Saber más <<<<<--------------<<
        </a>
      </li>
    </ul>
  </div>
</section>
