

<section id="tecnicas" class="wrapper style1 fade-up">
  <div class="inner">
    <h2>Técnicas</h2>
    <p>
      En terapic prestamos atención a diferentes áreas de tratamiento.
      Utilizamos distintas técnicas y abordajes según las características de
      nuestros pacientes.
    </p>
    <div class="features">
      <section>
        <span class="icon solid major fa-code"> </span>
        <h3>Terapia manual</h3>
        <p>
          Todos nuestros tratamientos se basan en la terapia manual. El
          abordaje terapéutico manual se inicia en la valoración de los
          síntomas del paciente, para desarrollar un buen diagnóstico en
          fisioterapia.
        </p>
      </section>
      <section>
        <span class="icon solid major fa-lock"></span>
        <h3>Ejercicio terapéutico</h3>
        <p>
          La realización por parte del paciente de sencillos ejercicios,
          explicados en consulta, en determinados momentos del día, ayuda de
          forma importante en la recuperación de la lesión y en la prevención
          de futuras recaídas.
        </p>
      </section>
      <section>
        <span class="icon solid major">
          <img
            src="images/iconos/radiofrecuencia.png"
            alt="icono puncion"
            width="32"
            height="32"
          />
        </span>
        <h3>Diatermia profunda</h3>
        <p>
          La radiofrecuencia o diatermia profunda es una interesante
          herramienta para tratar un gran número de patologías. Nos permite
          aumentar la vascularización de la zona afectada, incrementar la
          oxigenación de los tejidos y mejorar la actividad celular para
          optimizar el proceso de recuperación.
        </p>
      </section>
      <section>
        <span class="icon solid major">
          <img
            src="images/iconos/puncion.png"
            alt="icono puncion"
            width="32"
            height="32"
          />
        </span>
        <h3>Punción seca</h3>
        <p>
          Es una técnica de abordaje de los puntos gatillo miofasciales de una
          alta eficacia en lo que refiere a la disminución del dolor muscular.
          La técnica consiste en la inserción de una aguja en el punto gatillo
          de la banda tensa muscular, con el objetivo de disminuir el dolor y
          normalizar el músculo.
        </p>
      </section>
    </div>
    <ul class="actions">
      <li>
        <a class="button" (click)="routingService.navigateTo('tecnicas')"
          >Saber más <<<<<--------------<<
        </a>
      </li>
    </ul>
  </div>
</section>
