<section id="centro" class="wrapper style3 spotlights">
  <section>
    <div class="image">
      <img
        src="/assets/images/fotos-centro/hallconsulta.jpg"
        alt="consulta terapic"
        data-position="top center"
      />
    </div>
    <div class="content">
      <div class="inner">
        <h2>Nuestro centro</h2>
        <p>
          Desde el año 2007 ofrecemos un espacio destinado a la salud adaptado a
          las necesidades de todos los pacientes.
        </p>
        <ul class="actions">
          <li>
            <a class="button" (click)="routingService.navigateTo('centro')"
              >Saber más
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="inner">
        <h2>Currículum Vitae</h2>
        <p>Yolanda de León Munar. Fisioterapeuta y osteópata</p>
        <ul class="actions">
          <li>
            <a class="button" (click)="routingService.navigateTo('cv')"
              >Saber más
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="image">
      <img
        src="/assets/images/yol2.avif"
        alt="Yolanda fisioterapeuta"
        data-position="0 35%"
      />
    </div>
  </section>
</section>
